body {
    font-family: 'Lora', serif;
    font-weight: 400;
    background-color: #F3F0E1; 
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
  }
  
  .custom-navbar {
    background: transparent;
    padding: 1rem 2rem;
    font-family: 'Lora', serif;
    z-index: 10;
  }
  
  .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
  }
  
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
  }
  
  .navbar-brand {
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    font-weight: 500;
  }

  .bi {
    color: #2AA4BF; /* any hex, rgb, or named color */
  }
  
  
  /* Hero container includes title + scrolling image */
  .hero-container {
    position: relative;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
  }
  
  /* Large centered name behind image */
  .hero-title {
    position: fixed;
    top: 10vh;
    width: 100%;
    text-align: center;
    font-size: 15vw;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700; /* Bold for maximum impact */
    color: #BF1736;
    opacity: 0.9;
    pointer-events: none;
    z-index: 0;
    letter-spacing: 10px;
  }
  
  
  
  /* The large image that scrolls up over the name */
  .hero-image {
    position: relative;
    margin-top: 40vh;
    height: 100%;
    width: 100%;
    background-image: url('/images/headshot_crop.jpeg');
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  
  /* Page content after hero section */
  .content {
    position: relative;
    background: #F3F0E1;
    padding: 4rem;
    z-index: 3;
  }
  